@charset "utf-8";
body {
    width: 940px;
    margin: 0 auto;
    text-transform:capitalize;
}

header { /*높이130px*/
    font-size: 40px ;
    background-color: #7d1e6a ;
    color:#fff;
    padding:30px 0px 30px 130px;
    line-height: 35px;
}

.menu {
background-color: #ffcd38;
margin: 0;
height: 40px; line-height: 40px;
padding-left: 0;
position: relative;
}

.menu li a {
    text-decoration: none;
    color:#7d1e6a;
    display: block;
    float: left;
    font-weight:bold;
    padding: 0 20px;
    font-size: 18px;
}
.menu li a:hover {
    background-color: #ff6c38;
}
main {
    width: 650px; height: 600px;
    background-color: #f1eee9;
}
.box1 p:first-child { /*사진290 190*/
    width: 300px; height: 220px;
    background-color: #fff;
    border:2px red solid;
    background-image: url(./images/vegetavle.jpg);
    background-size: 290px 190px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    margin: 30px 20px 40px 20px;
    float: left; 
}
.box1 h2,h3,p {
    width: 250px;
    float: left;
    margin-top: 32px;
}
.box1 h2, .box2 h2 {
    font-size: 24px;
    font-weight: bold;
}
.box1 h3, .box2 h3 {
    font-size: 20px;
    font-weight: bold;
    color:red;
}
.box1 p, .box2 p {
    font-size: 16px;
}
.box2 p:first-child {
    width: 300px; height: 220px;
    background-color: #fff;
    border:2px red solid;
    background-image: url(./images/source.jpg);
    background-size: 290px 190px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    margin: 0 20px 40px 20px;
    clear: both;
    
}
.box2 h2{
   width: 300px;
   float: left;
}
.box3 {/*단아 위드값 다시해*/

    width: 290px; height: 550px;
    
    padding: 30px 0 20px 20px;
    background-color: #7d1e6a;
    
}
.box3 h2 {
    font-size: 26px;
    font-weight: bold;
    color: red;
    padding-bottom: 40px;
}
.box3 li {
    padding-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid red;
}
.box3 li a {
    text-decoration: none;
    color:#000;
   

    
}


/*
footer {
    clear: both;
}
footer p {
    color:#fff;
    background-color: #7d1e6a;
    height: 30px; 
    width: 940px;
}
*/