@charset "utf-8";

/* pc 기준 */
::selection {
  background-color: rgb(105, 169, 197);
  color: #fff;
}
.block-line {
  display: block;
}
.inline-block {
  display: inline-block;
}
/* header */
header {
  width: 100%;
}
header nav {
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header nav .logo img {
  width: 100px;
  height: 80px;
}
header nav menu {
  display: flex;
}
header nav menu li {
  height: 100%;
}
header nav menu li a {
  font-family: var(--sub-font);
  font-size: var(--font-size-17);
  padding: 27.5px 15px;
  text-transform: uppercase;
  color: rgb(68, 68, 68);
  font-weight: 500;
  letter-spacing: 1px;
}
header nav menu li:hover a {
  background-color: rgb(105, 169, 197);
  color: #fff;
}
/* main */
main {
  background: var(--bg-color) url(./images/hero-bg.png) no-repeat 50% / cover;
  /* display: flex; */
}
main .container {
  display: flex;
  justify-content: center;
  padding: 70px 50px;
}
main .container svg {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
  z-index: 999;
  opacity: 0.6;
}
main .container svg:hover {
  opacity: 1;
}
main .container .txt-box {
  width: 40%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}
main .container .txt-box h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--txt-sub-color);
  font-family: var(--sub-font);
  padding-bottom: 20px;
  font-size: var(--font-size-17);
}
main .container .txt-box h1 {
  font-size: var(--font-size-72);
  font-family: var(--main-font);
  color: var(--txt-main-color);
  font-weight: 200;
  padding-bottom: 30px;
  line-height: 1.3;
}
main .container .txt-box .play {
  width: 60px;
  margin-top: 10px;
  opacity: 0.7;
}
main .container .image-box .headset {
  width: 750px;
  display: flex;
}
main .container .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .image-box ul {
  display: flex;
  padding-right: 5px;
  color: var(--txt-sub-color);
  font-family: var(--sub-font);
  font-weight: 400;
}
main .container .image-box ul li {
  padding-right: 7px;
  font-size: 18px;
}
main .container .image-box ul li:first-child {
  color: #222;
}
main .container ul li:first-child::after {
  content: "ㅡ";
  font-weight: 800;
}

/* introduce */
.introduce {
  padding: 200px;
}
.introduce .txt_box {
  color: var(--txt-main-color);
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.introduce .txt_box h3 {
  font-style: var(--main-font);
  font-size: var(--font-size-32);
  font-weight: 700;
  padding: 25px 40px 0 0;
  text-indent: 50px;
}
.introduce .txt_box p {
  font-size: var(--font-size-17);
  font-weight: 400;
  line-height: 1.65;
  padding: 10px 60px 40px 50px;
}
.introduce .txt_box .branding {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.introduce .txt_box .development {
  border-bottom: 1px solid #ddd;
}
.introduce .txt_box .analysis {
  border-right: 1px solid #ddd;
}

/* img_box */
.img_box {
  display: grid;
  grid-template: repeat(3, 33.3333%) / repeat(4, 25%);
}
.img_box .list {
  position: relative;
}
.img_box .list a {
  display: none;
}
.img_box .list:hover a {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-32);
  font-family: var(--main-font);
  font-weight: 700;
  cursor: unset;
}
.img_box .list img {
  width: 100%;
  height: 100%;
}
.img_box .img_list1 {
  grid-column: 1 / 3;
  grid-row: 1/ 3;
}
.img_box .img_list4 {
  grid-column: 3/5;
}
.img_box .img_list5 {
  grid-column: 3/5;
  grid-row: 3/4;
}
.img_box .img_list6 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.img_box .img_list7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* business */
.business {
  text-align: center;
  color: var(--txt-main-color);
}
.business .text_box {
  padding: 120px 0 100px 0;
}
.business .text_box h2 {
  font-family: var(--main-font);
  font-size: var(--font-size-56);
  font-weight: 700;
}
.business .text_box h2::after {
  content: "";
  display: block;
  border: 1px solid #222;
  font-weight: 300;
  margin: 30px auto;
  width: 50px;
}
.business .text_box p {
  line-height: 1.7;
  font-family: var(--sub-font);
  font-size: var(--font-size-20);
  font-weight: 300;
}
.business .business_sub {
  font-family: var(--main-font);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.business .business_sub img {
  width: 97%;
}
.business .business_sub h4 {
  font-weight: 600;
  font-size: var(--font-size-24);
  padding: 30px 0 10px 0;
}
.business .business_sub p {
  font-size: var(--font-size-18);
  padding-bottom: 40px;
}
.business .business_sub .sub_box3 {
  padding-bottom: 120px;
}
.business .business_sub .sub_box4 {
  padding-bottom: 120px;
}

/* youtube */
.youtube_box {
  background-color: var(--bg-color);
  padding: 150px;
}
.youtube_box .youtube {
  color: var(--txt-main-color);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.youtube_box .youtube h2 {
  font-family: var(--main-font);
  font-size: var(--font-size-56);
  font-weight: 700;
  width: 50%;
}
.youtube_box .youtube p {
  font-family: var(--sub-font);
  font-size: var(--font-size-24);
  font-weight: 300;
  width: 50%;
}
.youtube_box .youtube iframe {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
}

/* service */
.service {
  color: var(--txt-main-color);
  padding: 150px 0;
}
.service h1 {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size-56);
  font-weight: 700;
}
.service h1::after {
  content: "";
  display: block;
  border: 1px solid #222;
  font-weight: 300;
  margin: 30px auto;
  width: 50px;
}

.service .service_box {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 1ch;
  width: calc(100% - 4ch);
  padding-top: 30px;
}
.service .service_box figure {
  opacity: 0.5;
}
.service .service_box figure:nth-child(3) {
  opacity: 1;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.service .service_box figure img {
  width: 100%;
}

.service .service_box figure h4 {
  font-weight: 600;
  font-family: var(--main-font);
  font-size: var(--font-size-24);
  padding: 20px 20px;
}
.service .service_box figure p {
  font-weight: 400;
  font-family: var(--sub-font);
  font-size: var(--font-size-18);
  padding: 20px 20px;
  line-height: 1.7;
}
/* client */
.client {
  background-color: var(--bg-color);
}
.client .client_box {
  display: grid;
  grid-template-columns: repeat(6, 16.6666%);
  padding: 180px 220px;
}
.client .client_box img {
  width: 80%;
  opacity: 0.6;
  transition: 0.5s;
}
.client .client_box img:hover {
  opacity: 1;
}

/* location */
.location {
  padding: 120px 200px;
}
.location .list h2 {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size-56);
  font-weight: 700;
  padding-bottom: 40px;
  text-transform: capitalize;
  color: var(--txt-main-color);
}
.location .list ul {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}
.location .list ul li {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-28);
  font-family: var(--sub-font);
  font-weight: 600;
  line-height: 3;
}
.location .list ul li:first-child {
  border-bottom: 3px solid #222;
}
.location .list ul li:last-child {
  border-bottom: 1px solid #ddd;
}
.location #map {
  height: 50vh;
  width: 100%;
  background-color: tan;
  margin: 50px 0 30px;
}
.location .information {
  font-family: var(--sub-font);
  font-weight: 400;
  color: var(--txt-main-color);
}
.location .information li {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-21);
}
.location .information li:last-child {
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
}
.location .information li .inline-block {
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 100px;
}
.location .information li:first-child .inline-block {
  padding-right: 40px;
}

/* talk */
.talk {
  background: linear-gradient(
      rgba(105, 169, 197, 0.8),
      rgba(105, 169, 197, 0.9)
    ),
    url(./images/img-bg.jpg) no-repeat 45%;
  padding: 180px;
}
.talk .talk_box {
  text-align: center;
  font-family: var(--main-font);
  color: #fff;
}
.talk .talk_box h2 {
  font-size: var(--font-size-56);
  font-weight: 700;
}
.talk .talk_box p {
  font-size: var(--font-size-28);
  font-weight: 300;
  padding: 30px 0 40px;
}
.talk .talk_box a {
  font-family: var(--sub-font);
  font-size: var(--font-size-18);
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 10px 30px;
  line-height: 2;
  letter-spacing: 2px;
  transition: 0.5s;
}
.talk .talk_box a:hover {
  background-color: #fff;
  color: var(--txt-main-color);
}

/* dyami */
.dyami {
  background-color: var(--bg-color);
  padding: 50px 180px 120px;
  display: flex;
  width: 100%;
}
.dyami img {
  /* width: 25%; */
}
.dyami .widget {
  display: flex;
}
.dyami .widget .logo_bottom {
  width: 130px;
  height: 100px;
  align-self: center;
  margin-right: 300px;
}
.dyami .widget h2 {
  text-transform: uppercase;
  font-size: var(--font-size-15);
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.dyami .widget p {
  font-size: var(--font-size-18);
  font-weight: 400;
}
.dyami .widget .contact {
  padding-right: 150px;
}
.dyami .widget .address {
  padding-right: 150px;
}
.dyami .widget .social .social_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dyami .widget .social .social_box img {
  width: 10px;
  margin: 5px 30px 0 0;
  opacity: 0.7;
}

/* footer */

footer {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: var(--sub-font);
  font-size: var(--font-size-14);
  color: var(--txt-main-color);
  font-weight: 400;
  padding: 40px 0 20px 0;
}
footer p:first-child {
  padding-bottom: 20px;
}
footer .footerBox {
  display: flex;
}
footer .footerBox p:first-child::after {
  content: "/";
  margin: 5px;
}
