@charset "utf-8";

/* 변수 선언 */
:root {
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-17: 1.1rem; /* 17.6px임 */
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-36: 2.25rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --font-size-64: 4rem;
  --font-size-count: 4.125rem;
  --font-size-title: 2.875rem;

  --point-color: #fe6666;
  --txt-color: rgb(33, 37, 41);
  --main-font: "IropkeBatang", sans-serif;
  --sub-font: "Roboto Flex", sans-serif;
}
